<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <link href="~/StyleSheetMain.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand col-md-1" href="/">Home</a>
            <a class="navbar-brand col-md-1" href="../Home/About">About</a>   
            <a class="navbar-brand col-md-1" href="../Home/Qualifications">Qualifications</a>
            <a class="navbar-brand col-md-1" href="https://github.com/JesperOscarsson">Github</a>
            <a class="navbar-brand col-md-1" href="../Home/Gallery">Gallery</a>
        </div>
    </nav>

    @RenderBody()

    <nav class="navbar-fixed-bottom">
        <footer class="container-fluid" id="footer">
            (c) 2017 Foobar Inc.
        </footer>
    </nav>
</body>
</html>
