
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="container">
    <h1>
        I DEVELOPE, MAINTAIN AND IMPROVE SOFTWARE
    </h1>
    <p>
        I am a software development student at Östra in Skogås, Sweden with a passion for problem solving and implementing creative solutions.
        My goals are to create a better workplace through good communication, being open-minded and a good teamplayer; all while delivering high quality products.
    </p>
</div>

