
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="container">
    <h1>
        WELCOME TO MY PERSONAL PAGE
    </h1>
    <p>
        Hi! I am Jesper Oscarsson and this is a personal page dedicated to showing my past and current projects.
    </p>
</div>

<div class="container" style="margin-top: 5%;">
    <a href="../Home/Gallery" id="IndexBtn">To gallery</a>
</div>