@model System.Collections.Generic.List<webApplicationOct.Models.Experience>
@{
    ViewBag.Title = "Qualifications";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="container">
    <ul>
    <!--Prints all Education items in the ExperienceList-->
    @foreach (var item in Model)
    {
        if (item.GetType().ToString() == "webApplicationOct.Models.Education")
        {
            <li>@item.ToString()</li>
        }
    }
    </ul>
</div>

<div class="container">
    <ul>
        <!--Prints all TechnicalKnowledge items in the ExperienceList-->
        @foreach (var item in Model)
        {
            if (item.GetType().ToString() == "webApplicationOct.Models.TechnicalKnowledge")
            {
                <li>@item.ToString()</li>
            }
        }
    </ul>
</div>

<div class="container">
    <ul>
        <!--Prints all CommonKnowledge items in the ExperienceList-->
        @foreach (var item in Model)
        {
            if (item.GetType().ToString() == "webApplicationOct.Models.CommonKnowledge")
            {
                <li>@item.ToString()</li>
            }
        }
    </ul>
</div>

