
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheetMain.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="container-fluid">
        <p>Hello world!</p>
    </div>
    <div>
        <p>I'm text</p>
    </div>
</body>
</html>
